.wrapper {
  // background: green;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 88px);
}
.tabs {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}
.navIcon {
  width: 30px;
  height: 30px;
}

.inputPad_wrapper {
  // border: 1px solid red;
  // position: fixed;
  // width: 100%;
  // left: 0;
  // bottom: var(
  //   --safe-area-inset-bottom
  // ); // 12px on iPhone X, 0px on other devices
  flex-grow: 0;
  flex-shrink: 0;
  padding-bottom: var(
    --safe-area-inset-bottom
  ); // 12px on iPhone X, 0px on other devices;
}


.createTag {
  fill: var(--main);
}
