.button {
  width: 100%;

  &_wrapper {
    padding: 16px 16px;
  }
}
.logo {
  width: 128px;
  height: 128px;
  &_wrapper {
    padding: 120px 0;
  }
}
.navIcon {
  width: 30px;
  height: 30px;
  position: relative;
  top: 0px;
}

.fade_enter_active,
.fade_leave_active {
  transition: opacity 0.5s ease;
}

.fade_enter_from,
.fade_leave_to {
  opacity: 0;
}
