:root {
  --welcome-card-bg-color: white;
  --welcome-text-color: white;
  --welcome-linear-start: #f6d465f0;
  --welcome-linear-end: #fda085;

  // 文字颜色
  --text-color: #333;
  --login-title-color: #333;


  --welcome-nav-height: 64px;
  --welcome-nav-gap: 8px;
  --z-index-bottom-nav: 8;
  --z-index-overlay: 16;

  --transition-duration: 0.5s;

  --button-bg: #f9973c;
  --button-primary-bg: #f9973c;
  --button-success-bg: #5dff65;
  --button-warning-bg: #fb6f16;
  --button-danger-bg: #cf0707d3;

  --button-text: white;
  --button-font-size: 18px;

  --button-radius: 8px;
  --button-height: 48px;

  // --float-button-text
  --float-button-text: white;
  --float-button-bg: var(--button-bg);

  --navbar-bg-start: var(--welcome-linear-start);
  --navbar-bg-end: var(--welcome-linear-end);
  --navbar-text: white;

  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-bg: white;
  --overlay-user-bg: #faba3a;
  --overlay-user-text: white;

  --top-safe-area-height: 24px;

  --tabs-indicator-bg: rgba(255, 255, 255, 0.5);

  --safe-area-inset-bottom: 12px;

  // 数字键盘按钮边框色
  --input-pad-button-border-color: #cbcbcb;
  // 数字键盘背景色
  --input-pad-button-bg: #fecbbd;
  --input-pad-button-active-bg: #cbbebc;

  //金额字体颜色
  --amount-text-color: #ff4e1d;

  // 日期字体颜色
  --date-text-color: #7e7e7e;

  // 新建标签页面
  --input-min-height: 48px;
  --input-border-color: #fa7a11;
  --input-radius: var(--button-radius);
  --input-shadow: rgba(0, 0, 0, 0.25);
  --error-color: #e10505;
  --emoji-nav-text: #999;
  --emoji-nav-text-selected: #333; // 选中的emoji 导航文字颜色
  --emoji-item-icon-selected: #f9973ca1; // 选中的emoji背景色

  // 标签
  --tag-bg: #efefef;
  --tag-select-border: #fa7a11;

  //主题色
  --main: #f96f12;

  // 金额汇总
  --total-bg: #252A43;
  --total-text: white;
  --total-income: #FE7275;
  --total-expenses: #53A867;

  --list-tag-text: #333;
  --list-time-text: rgb(122, 122, 122);
  --list-amount-text: var(--main);

  // dialog
  --dialog-main-bg: white;
  --dialog-header-text: white;

  --z-index-bottom-nav: 8;
  --z-index-navbar: 16;//32
  --z-index-overlay: 16;

  --bar-bg: #cccccc;
}