:root {
  --welcome-card-bg-color: white;
  --welcome-text-color: white;
  --welcome-linear-start: #f6d465f0;
  --welcome-linear-end: #fda085;

  --welcome-nav-height: 64px;
  --welcome-nav-gap: 8px;
  --z-index-bottom-nav: 10;
  --transition-duration: 0.5s;

  --button-bg: #f9973c;
  --button-text: white;
  --button-font-size: 18px;

  --button-radius: 8px;
  --button-height: 48px;

  // --float-button-text
  --float-button-text: white;
  --float-button-bg: var(--button-bg);
}
