:root {
  --welcome-card-bg-color: white;
  --welcome-text-color: white;
  --welcome-linear-start: #f6d465f0;
  --welcome-linear-end: #fda085;

  --welcome-nav-height: 64px;
  --welcome-nav-gap: 8px;
  --z-index-bottom-nav: 8;
  --z-index-overlay: 16;

  --transition-duration: 0.5s;

  --button-bg: #f9973c;
  --button-text: white;
  --button-font-size: 18px;

  --button-radius: 8px;
  --button-height: 48px;

  // --float-button-text
  --float-button-text: white;
  --float-button-bg: var(--button-bg);

  --navbar-bg-start: var(--welcome-linear-start);
  --navbar-bg-end: var(--welcome-linear-end);
  --navbar-text: white;

  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-bg: white;
  --overlay-user-bg: #faba3a;
  --overlay-user-text: white;

  --top-safe-area-height: 24px;

  --tabs-indicator-bg: rgba(255, 255, 255, 0.5);

  --safe-area-inset-bottom: 12px;

  // 数字键盘按钮边框色
  --input-pad-button-border-color: #cbcbcb;
}
